<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/cdLogo.png" type="image/x-icon">
    <title>Chetan's | Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                        mainBlack: '#0E0E0F',
                    }
                }
            }
        }
    </script>
    <style>
        .textShadow {
            text-shadow:
                -0.025em -0.025em 0 #ff0000,
                0.025em 0.025em 0 #00ffff;
        }
    </style>
</head>

<body class="font-mono bg-mainBlack p-[5%]">
    <div class="h-[5vh]">
        <a href="/index.html"><img src="/images/Chetan_Dighole-removebg-preview.png" alt="" class="w-[60px]"></a>
    </div>
    <h1 class="text-[#f5f5f5] text-[3rem] lg:text-[6rem] textShadow font-bold">Projects</h1>

    <!-- cards -->
    <section class="pt-[5%]">

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 justify-between">

            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start p-[6%]">
                    <img src="/images/shopify.png" alt="" class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Shopify clone</h2>
                            <p class="text-gray-600">This clone is created using tailwind css.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/shopify.com-clone" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://shopify-clone-by-chetan-dighole.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start p-[6%]">
                    <img src="/images/rode.png" alt="" class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">RODE clone</h2>
                            <p class="text-gray-600">This clone is created using tailwind css.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/rode.com-clone" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://rode-clone-by-chetan-dighole.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start p-[6%]">
                    <img src="/images/Paytm.png" alt="" class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">PayTM clone</h2>
                            <p class="text-gray-600">This clone is created using tailwind css.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/PayTM-clone" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://paytm-clone-by-chetan-dighole.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start p-[6%]">
                    <img src="/images/Designer-Landing-Page.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Designer page</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Product-Designer-Landing-Page" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://product-designer-project15.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>




            <!-- -----------------------------------------------------------------------------------------------------------------------/// -->

            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/14.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 14</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-14-of-full-stack-course" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project14-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start  h-[100%] p-[6%]">
                    <img src="/images/fsjd/13.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 13</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-13-of-full-stack-development" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project13-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/12.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 12</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-12-of-full-stack-javascript-course" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project12-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/11.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 11</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Hoisting-website" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project11-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/10.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 10</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-10-of-full-stack-course" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project10-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/9.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 9</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Developer-landing-page" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://developer-landing-page-assignment9.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/8.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 8</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/project-8" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project8-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/7.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 7</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/project-7-of-fsjd" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project7-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/6.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 6</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-6-of-full-stack-course" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project6-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/5.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 5</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/project-5-modern-web-page" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project5-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/4.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 4</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Modern-Website-Static-Page" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://modern-website-project4.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/3.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 3</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-3" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project3-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/2.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 2</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Restaurant-Landing-Page" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://restaurant-page-project2.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="max-w-xs rounded-md shadow-md bg-mainBlack border-4 hover:border-[#313132] border-[#1A1A1B] hover:-translate-y-1 transition ease-in delay-200 ">
                <div class="flex flex-col justify-between item-start h-[100%] p-[6%]">
                    <img src="/images/fsjd/1.png" alt=""
                        class="object-contain object-center w-full rounded-t-md ">
                    <div class="flex flex-col justify-between space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold text-[#f5f5f5]">Project 1</h2>
                            <p class="text-gray-600">This page is created usinge HTML & CSS.</p>
                        </div>

                        <div class="flex flex-col md:flex-row gap-4 justify-between">
                            <a href="https://github.com/ChetanDighole/Project-1-of-FSJD" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Source
                                Code</a>
                            <a href="https://project1-fsjd.netlify.app/" target="_blank"
                                class="inline-block px-[5%] py-[3%] text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-[#6419E6] rounded-md cursor-pointer hover:bg-[#5716C8]">Deployed
                                Link</a>
                        </div>
                    </div>
                </div>
            </div>
            







        </div>

    </section>

</body>

</html>